@charaset "utf-8";

body {
	background-image: url(../images/001.jpg);
	color: #5f5039;
	text-align: center;
}

header {
	width: 840px;
	margin-left: auto;
	margin-right: auto;
}

header h1 {
	margin-top: 50px;
}

header h3 {
	margin: 0;
	padding-bottom: 20px;
}


nav ul {
	overflow: hidden;
	list-style-type: none;
	margin: 0 0 20px 0;
	padding: 0;
	text-align: right;

}

nav ul li {
	width: 210px;
	float: left;
}

nav ul li a{
	overflow: hidden;
	display: block;
	padding-top: 40px;
	line-height: 40px;
	border-right: 0.5px solid #D8D8D8;
	font-weight: bold;
}



h2 {
	padding-top: 50px;	
	padding-bottom: 0;
	margin-bottom: 0;
}

a {
	color: #5A482B;
	text-decoration: none;
}


#oitachi {
	text-align: center;
	line-height: 1.5;
}

#profile {
	line-height: 1.5;	
}


#histry {
	line-height: 1.5;
}

.top {
	margin-top: 50px;
	font-size: 12px;
	
	
}
#pageTop {
	padding: 0;
	font-size: 10px;
}

#pageTop a {
	padding-left: 10px;
	background: url(../images/bg_arrow.png) 0 50% no-repeat;
}

